/* CircularProgressBar.css */
.progress-ring {
  transform: rotate(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  /* animation: ease-in-out 2s both 1.5ms infinite step-end forwards; */
}

.progress-ring-circle {
  stroke:#34A853; /* White stroke color for better contrast */
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.progress-text {
  fill: #333333; /* Gold fill color for the text */
  font-size: 0.8rem;
  font-weight: bold;
  padding: 4px;
}
