/* ContactForm.css */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color:#E0E0E0; /* White border color for better contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(66, 133, 244, 0.2); /* White box shadow for better contrast */
}

label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333333; /* White text color for better contrast */
}

.ti {
  border: 2px solid #E0E0E0; /* White border for better contrast */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: #fff; /* White background for better contrast */
  color:#333333; /* White text color for better contrast */
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #FFFFFF;
  border: 1px solid #BDBDBD; /* White border color on focus */
}

input[type="submit"] {
  background-color: #fff;
  color: #333333;
  border: none;
  /* border: 1px #BDBDBD; */
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #1A73E8; /* Black text color on hover for better contrast */
  /* border-color: 4px #BDBDBD; */
}

/* ContactForm.css */

.contact-image {
  flex: 1;
  max-width: 50%;
  margin-top: 70px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.contact-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.contact-image:hover img {
  transform: scale(1.1);
}

/* ContactSection.css */

.contact-heading {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  word-spacing: 28px;
}

.contact-heading h2 {
  font-size: 28px;
  color: #4285F4;
}

/* ContactSection.css */

.contact-section {
  padding: 20px;
}

/* Additional styles for success state */
form.success input[type="submit"] {
  background-color: #FFFFFF;
  color: #34A853;
  cursor: not-allowed;
}
