/* ProjectTab.css */

.project-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #333333; /* White text color for better contrast */
  background-color: #FFFFFF; /* Dark background color for better contrast */
}

.project-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #E0E0E0; /* White border for better contrast */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(66, 133, 244, 0.2); /* White box shadow for better contrast */
  transition: box-shadow 0.3s ease, transform 0.8s ease-in-out;
  width: 300px;
}

.project-card:hover {
  box-shadow: 0 8px 16px rgba(66, 133, 244, 0.4);
  transform: scale(1.03);
}

.project-image-container {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  aspect-ratio: 16/9;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border: 2px solid #E0E0E0; /* White border for better contrast */
}

.project-card:hover .project-image {
  opacity: 0.8;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color:#F5F5F5; /* Dark background color for overlay */
  transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
  opacity: 0.5;
}

.github-icon {
  font-size: 30px;
  /* background-color: black; */
  opacity: 1;
  /* color: #34A853; White color for the GitHub icon */
  transition: transform 0.3s ease;
  border-radius: 300px solid black;
}

.project-overlay:hover .github-icon {
  transform: scale(1.2);
}

.project-details {
  padding: 15px;
  color: #333333; /* White text color for details */
  text-align: center;
}

.project-details h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.project-details p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.github-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4285F4; /* Dark background color for the GitHub link */
  color: #FFFFFF; /* White text color for the GitHub link */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.github-link:hover {
  background-color: #1A73E8;
  color: #fff;
}
